<div class="row">
<div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
</div>
</div>
  {{#if posts.length}}
  <div class="col-md-6 post-list">
    <h3>Your Posts:</h3>
    {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
        <p>{{post.content}}</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm" id="{{post.id}}">EDIT</button>
        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
  <div>
    <button class="btn">New Post</button>
  </div>
</div>

<script src="./js/dashboard.js"></script>